<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My Name is Aidan Empey, I am a 25 year old student at Weber State University, currently majoring in Computer Science
          My expected graduation date is spring 2026.
        </p>
      </div>
      <div class="col-lg-4">
        <p>I am a dedicated and hard working individual, persuing a career in Computer Science. Some of my hobbies include Freediving and Spearfishing, PC hardware assembly, and FDM and Resin 3D printing.  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
